.footer {
    background-color: black;
    color:aliceblue;
    display: flex;
    padding: 0 20px;
    line-height: 1.3;
}
@media (max-width: 1024px) {
    .footer {
        padding: 0.5rem 0.5rem;
        display: block;
    }
  }

.footer > div {
    flex: 1 1 auto;
    text-align: center;
}

.img-container {
    min-height: 100%;
    padding: 0 30px;
}
.img-container img{
    min-height: 100%;
    max-width: 100%;
}

.info {
    padding: 20px 7rem;
}
@media (max-width: 1024px) {
    .info {
        padding: 20px 1rem;
        text-align: center;
        line-height: 2rem;
    }
  }

.social {
   font-size: 1.4rem;
}
.social > * {
   margin-right: 10px;
   cursor: pointer
}

.hours {
    padding: 20px 0;
}

@media (max-width: 1024px) {
    .hours {
        padding: 20px 0;
        text-align: center;
    }
  }

.hours h3 {
    color: goldenrod;
}