.MenuContent {
    width: 80%;
    display: grid;
    grid-template-columns:  repeat(4, minmax(0,1fr));
    grid-gap: 10px;
    grid-row: 100px;
    padding: 80px 20px;
    row-gap: 2rem;
    line-height: .5rem;
}

@media (max-width: 768px) {
    .MenuContent {
        width: 100%;
    }
  }

.MenuContent img {
    max-width: 100%;
    margin-bottom: 3px;

}