.menuWrapper {
   display: flex;
   margin: 70px 80px;
   padding: 0 40px;
}
@media (max-width: 768px) {
   .menuWrapper {
      margin: 0;
      padding: 0;
      max-width: 100vw;
      display: block
   }
 }

.menuContainer {
   width: 80%;
}
@media (max-width: 768px) {
   .menuContainer {
      width: 100%;
      padding-bottom: 5rem;
   }
 }

.MenuContent {
   display: grid;
   grid-template-columns:  repeat(4, minmax(0,1fr));
   grid-gap: 10px;
   grid-row: 100px;
   padding: 80px 20px;
   row-gap: 3rem;
   line-height: .5rem;
   margin-bottom: 2rem;
}
@media (max-width: 480px) {
   .MenuContent {
      grid-template-columns: repeat(1, minmax(0,1fr));
      grid-row: 100px;
      padding: 0 3rem;
      row-gap: 1rem;
      line-height: .5rem;
   }
 }
@media (min-width: 481px) and (max-width: 768px) {
   .MenuContent {
      grid-template-columns: repeat(2, minmax(0,1fr));
      grid-row: 100px;
      padding: 0 2rem;
      row-gap: 2rem;
      line-height: .5rem;
      grid-gap: 35px;
   }
 }

.css-wjh20t-MuiPagination-ul  {
   justify-content: center
}

.MenuContent img {
   max-width: 100%;
}

.scroll-top.show {
   display: none
}
.scroll-top.hide {
   display: none
}